@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap');
body{
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
}
body *{
	box-sizing: border-box;
}
header{
	margin: 0;
	display: flex;
	position: sticky;
	background-color: #131313;
	/*flex-wrap: wrap;*/
}
hr{
	margin-top: 8px;
	width: 32px;
	border-color: #E3B873;
}
.hr_left{
	margin-right: 0;
}
.hr_right{
	margin-left: 0;
}
.image_svg_subtitle{
	margin-left: 10px;
	margin-right: 10px;
}
.logo{
	color: #E3B873;
}
.tel{
	color: #E3B873;
	margin-right: 45px;
}
.container{
	max-width: 1263px;
	margin: 0 auto;
}
@media screen and (max-width: 480px){
	.container{
		margin: auto;
		width: 95%;
	}
}
.button{
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	border: 0;
	text-transform: uppercase;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
}
.button1{
	padding: 13px 33px;
}
.header_content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 83px;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
}
.ul_head{
	list-style: none;
	display: flex;
}
.nav_head__item{
	margin-right: 45px;
}
.nav_link{
	text-decoration: none;
	color: white;
}
.nav_link:hover{
	text-decoration: none;
	color: #E3B873;
}

.section1{
	position: static;
	background-blend-mode: multiply;
	background-image: url('../images/image 4.3.jpg');
	background-size: cover;
	background-color: rgba(0,0,0,0.7);
}

.container1{
	padding: 156px 87px 199px 89px;
}
.title{
	padding-left: 21px;
	max-width: 600px;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 0;
}
.p1{
	padding-left: 21px;
	max-width: 581px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	color: white;
}
.button2{
	padding: 19px 41px;
	margin: 11px;
}
.button3{
	padding: 19px 22px;
	background-color: rgba(255,255,255,0);
	border: thin solid white;
	margin:11px;
}
@media screen and (max-width: 480px){
	nav{
		display: none;
	}
	.section1{
		background-position: center;
	}
	.button1{
		display: none;
	}
	.tel{
		text-decoration: none;
		color: #FFFFFF;
		margin: auto;
	}
	.header_content{
		width: 90%;
		margin: auto;
	}
	.container1{
		padding: 100px 10px;
	}
	.title{
		margin-top: 0;
		font-size: 23px;
		line-height: 132.83%;
	}
	.p1{
		font-size: 14px;
		line-height: 135.84%;
		margin-bottom: 35px;
	}
}

.section2{
	background-color: #131313;
}
.slider{
	padding: 100px 87px 400px 89px;
}
.slider_menu{
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-content: space-around;
}
.slider_menu_item{
	margin-right: 60px;
	text-transform: uppercase;
}
.slider_menu_item a{
	text-decoration: none;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);

	padding-bottom: 7px;
}
.slider_menu_item a:hover{
	text-decoration: none;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #E3B873;
	padding-bottom: 7px;
	border-bottom: thin solid #E3B873;
}
.slider_items{
	display: flex;
	flex-direction: row-reverse;
	/*margin: 45px 31px 10px 27px;*/
}
.slider_text{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width:500px; 
}
.slider_title{
	/*margin: 0;*/
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
}
.slider_text--text{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
}
.text2{
	font-size: 13px;
	line-height: 21px;
}
.selected_info{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.selected_info_item--subtitle{
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
	margin-bottom: 9px;
}
.slider_arrows{
	display: flex;
	margin-top: 75px;
	/*justify-content: flex-start;
	align-items: flex-end;*/
}
.slider_arrows_item{
	margin: 10px;
}
.slider_image{
	display: flex;
	margin: 32px 20px 12px 10px;
	filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.15));
}
.slider_image_mobile{
	display: none;
}
@media screen and (max-width: 480px){
	.slider{
		padding: 0;
		width: 90%;
	}
	.slider_menu{
		display: none;
	}
	.slider_items{
		flex-direction: column-reverse;
	}
	.slider_arrows{
		display: none;
	}
	.slider_image{
		display: none;
	}
	.slider_title{
		font-size: 22px;
		line-height: 138.6%;
		text-align: center;
	}
	.slider_text--text{
		font-size: 11px;
		line-height: 158.48%;
		text-align: center;
		color: #FFFFFF;
	}
	.text_p2{
		padding: 0 20px 50px 20px;
	}
	.slider_image_mobile{
		display: block;
		filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.1));
	}
	.arrow_mobile{
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background: #E3B873;
		display: flex;
		align-items: center;
	}
	.arrow{
		margin: 0 auto;
	}
	.slider_arrows_mobile{
		display: flex;
		justify-content: space-between;
		margin-top: -40%;
		padding: 0 10px;
	}
	.selected_info{
		margin-top: 30%;
	}
	.text2{
		font-size: 11px;
		line-height: 135.84%;
	}
}

.container3{
	margin-top: -350px;
}
.container3_title{
	display: flex;
	justify-content: center;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}
.image_camera{
	display: flex;
	justify-content: center;
	align-items: center;
}
.container3_video{
	background-image: url('../images/image 6.png');
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(0,0,0,0.8);

	margin:22px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/*position: static;*/

	height: 434px;
	width: 817px;
}
.hr_center{
	margin-top: 40px;
	width: 55px;
}
.container3_text{
	max-width: 697px;
	margin:40px auto;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	color: #363636;
}
.container3_form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 28px auto;
	max-width: 823px;
}
.container3_form_label{
	display: flex;
	flex-direction: column;
	padding-left: 35px;
	margin-top: 10px;
	margin-bottom:10px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: rgba(54, 54, 54, 0.5);
}
.container3_form_input{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	color: #363636;

	border:none;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.button4{
	margin: 10px;
	padding: 16px 75px;
	font-style: normal;
}
.checkbox_container{
	margin: 20px auto;
}
/* для элемента input c type="checkbox" */
.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;  
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 163.68%;

  color: #181818;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(54, 54, 54, 0.3);
  border-radius: 1px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #E3B873;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+span::before {
  background-color: rgba(227, 184, 115, 0.3);
  border-color: #E3B873;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(227, 184, 115, 0.3);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
  border-color: #F1CF98;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
  border-color: #E3B873;
  background-color: #E3B873;
  background-image: url('../images/galka.svg');
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
  background-color: rgba(227, 184, 115, 0.3);
}
/*чек на черном фоне*/
.check_on_black>span {
  display: inline-flex;
  align-items: center;
  user-select: none;  
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 163.68%;

  color: #FFFFFF;
}
.check_on_black>span::before {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.button4_mobile{
	display: none;
}
.check_mobile1{
	display: none;
}

@media screen and (max-width: 480px){
	.section3{
		background-color: #131313;
	}
	.container3{
		padding-top: 30px;
		margin-top: 0;
	}
	.container3_title{
		font-size: 22px;
		line-height: 138.6%;
	}
	.container3_video{
		margin:22px auto;
		width: 100%;
		height: 207px;
	}
	.container3_text{
		margin: 20px;
		font-size: 11px;
		line-height: 169.8%;
		text-align: center;

		color: #FFFFFF;
	}
	.container3_form{
		margin: 0 auto;
	}
	.container3_form_label{
		margin-top: 50px;
		padding-left: 0;
		width: 100%;
		color: rgba(255, 255, 255, 0.5);
	}
	.container3_form_input{
		line-height: 19px;
		background-color: #131313;
		color: #FFFFFF;
	}
	.container3_form_input::placeholder{
		color: #FFFFFF;
	}
	.check_mobile1{
		display: block;
	}
	.check_desktop{
		display: none;
	}
	.button4{
		margin-bottom: -20px;
	}
/*	.button4{
		display: none;
	}
	.button4_mobile{
		display: block;
	}*/
}

.container4{
}
.container4_title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #181818;
}
.image_hummer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.primeri{
	display: flex;
	justify-content: space-between;
}
.primer{
	display: flex;
	flex-direction: column;
	width: 392px; 
	margin-top: 90px;
	background-repeat: no-repeat;
}



.primer1{
	background-image: url('../images/redecorating.jpg');
}
.primer2{
	background-image: url('../images/overhaul.jpg');
}
.primer3{
	background-image: url('../images/designer repair.jpg');
}
.primer_info{
	margin: 0 auto;
	margin-top: 294px;
	background-color: white;
	max-width: 330px;
	padding: 0 48px 37px 5px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.primer_info_subtitle{
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;

	color: #363636;
	padding-left: 25px;
	margin-bottom: 0;
}
.primer_info_adv{
	color: #959595;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 27px;
/*	padding-left: 50px;
	padding-right: 52px;
	/*padding-bottom: 36px;*/
}
.primer_info_adv_item{
	text-indent: -5px;
}
.price_box{
	display: flex;
	padding: 17px 21px;
	max-width: 228px;
	margin-top: -30px;
	background: #E3B873;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	margin-left: 60px;
}
.price_text{
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;

	color: #FFFFFF;
}


.advantages_and_form2{
	margin-top: 135px;
 	display: flex;
 	justify-content: space-between;
 	background-image: url('../images/adv_back.png');
 	background-repeat: no-repeat;

}
.advantages{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	/*padding-left: 150px;
	padding-right: 75px;*/
	max-width: 703px; /*?*/
	height: 645px;

}
.advantages_item{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	margin-top: 30px;
	margin-left: 50px;
}
.advantages_item_num{
	display: flex;
	justify-content: center;
	align-items: center;

	/*padding: 5px;*/
	margin: auto 0;
	height: 56px;
	width: 56px;
	position: relative;
	background: #E3B873;
	border: 8px solid #FFFFFF;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	border-radius: 30px;

}
.advantages_item_num_text{
	padding: 5px;
	margin:auto;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-align: center;

	color: #FFFFFF;
}
.advantages_item_text{
	display: inline-block;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;

	color: #363636;
	margin-left: 15px;
}

.form2{
	display: flex;
	align-self: center;
	flex-direction: column;
	justify-content: space-between;
	width: 506px;
	height: 509px;
	padding: 20px 49px;
	background: #131313;
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}
.form2_text{
	margin: 0 auto;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	text-align: center;

	color: #FFFFFF;
}
.form2_label{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom:10px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}
.form2_input{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
	background-color: #131313;

	border:none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.form2_input::placeholder{
	color: #FFFFFF;
}
.cont_check2{
	margin:0;
}
.check2_label{
	color: #FFFFFF;
}
.form2_button{
	margin-left: auto;
	padding: 18px 42px;
	font-style: normal;
}
.svinuha{
	margin-top: 10px;
	margin-bottom: 50px;
	padding-right: 10%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.svin_logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background: #E3B873;
	box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
}
.svin_text{
	margin-left: 25px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;

	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.p_text{
	margin: 20px auto;
	max-width: 420px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	color: #363636;
}
@media screen and (max-width: 480px){
	.container4{
		padding-top: 50px;
	}
	.primeri{
		display: block;
	}
	.primer{
		width: auto;
	}
	.primer_info{
		margin-left: 0;
		margin-top: 294px;
		background-color: white;
		max-width: 330px;
		padding: 0 48px 37px 5px;
		box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
	}
	.price_box{
		margin-left: 0;
	}
	.advantages{
		display: none;
	}
	.form2{
		display: none;
	}
	.svinuha{
		display: none;
	}
}

.container5{
	padding-bottom: 350px;
	background-image: url('../images/Frame.png');
	background-repeat: repeat-x;
	background-position: bottom;
}

.clients{
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 480px){
	.container5{
		padding-bottom: 50px;
	}
	.clients{
		display: block;
	}
}
.clients_client{
	margin-top: 30px;
}

.client_container{
	max-width: 376px;
	padding: 24px 32px 67px 20px;
	background: #FFFFFF;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.client_info{
	display: flex;
	justify-content: center;
}
.client_photo{
	width: 76px;
	height: 76px;
	border-radius: 50%;
	margin: 10px;
}
.client_fio{
	margin-left: 23px;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;

	color: #181818;
}
.client_text{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 180%;


	color: #959595;
}
.client_box{
	display: flex;
	max-width: 80%;
	margin-top: -25px;
	background: #E3B873;
	box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}
.client_box_item{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
.kvadrats{
	border-right: 0.75px solid #FFFFFF;
}
.inbox_img{
	margin: auto;
}
.inbox_text{
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;

	color: #FFFFFF;
	margin: auto;
	margin-left: 10px;
}
.container6{
	margin-top: -200px;
}
.form3_subtitle{
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
	margin:0 auto;
}
.form3{
	position: relative;
	padding: 34px 181px;
	width: auto;
	height: auto;
	max-width: 883px;
	margin: -200px auto 40px auto;
}
.twolabels_in_row{
	display: flex;
	justify-content: space-between;
}
.form3_label{
	margin-top: 30px;
}
.form3_label1{
	width: 45%;
}
.cont_chek3{
	margin: 20px auto;
}
.form3_button{
	align-self: center;
	margin: 10px auto;
	padding: 18px 60px;
}
@media screen and (max-width: 480px){
	.container6{
		margin-top: 0;
	}
	.form3{
		margin-top: 10px;
		display: block;
		padding: 10px;
	}
	.form3_label{
		margin-top: 50px;
	}
	.twolabels_in_row{
		display: block;
	}
	.form3_label1{
		width: 100%;
	}
}
.section7{
	position: static;
	background-blend-mode: multiply;
	background-image: url('../images/section6.jpg');
	background-size: cover;
	background-color: rgba(0,0,0,0.8);
}
.container7{
	margin-top: -300px;
	padding-top: 350px;
	z-index: -1;
}
.CONTACTS{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	min-height: 700px;
}
.CONTACTS_text{
	max-width: 590px;
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;

	color: #E3B873;
}
.inst_and_mail_mobile{
	display: none;
}
.br_mobile{
	display: none;
}
@media screen and (max-width: 480px){
	.section7{
		background-image: none;
		background-color: #131313;
	}
	.container7{
		padding-top: 0;
		padding-bottom: 40px;
	}
	.CONTACTS{
		flex-direction: column-reverse;
	}
	.CONTACTS_text{

		font-size: 18px;
		line-height: 138.6%;
	}
	.inst_and_mail{
		display: none;
	}
	.inst_and_mail_mobile{
		display: block;
		margin: 23px auto;
	}
	.br_mobile{
		display: block;
	}
}
footer{
	margin: 0;
	background-color: #131313;
}
@media screen and (max-width: 480px){
	footer{
		display: none;
	}
	.bigimg{
		width: 100%;
	}
	.button{
		width: 95%;
	}
}